.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  margin: 0;
  font-family: Mazius, "Times New Roman";
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 400;
}

.subtext {
  font-size: 1.5em;
  margin-bottom: 2vh;
}
.subtext span {
  font-size: 1em !important;
}
