.container h1 {
  text-align: center;
  font-family: "Helvetica Neue";
  font-weight: 600;
}

.text {
  text-align: center;
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text p {
  opacity: 55%;
}

.player,
.container {
  display: flex;
  align-items: center;
}

.player {
  width: 100%;
  justify-content: space-between;
}

.body {
  padding-left: 4vw;
  font-size: 2.5em;
  font-family: "Times New Roman";
  width: 100%;
  white-space: pre-line;
  height: 60vh;
  overflow: auto;
}

.body:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
}

.container {
  width: 80%;
  height: 100vh;
  justify-content: space-between;
  flex-direction: column;
}

.submit {
  margin-bottom: 2vh;
}

.back {
  margin-top: 2vh;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2em;
  }
  .player {
    order: 1;
    flex-direction: column;
    text-align: center;
  }
  .container * {
    margin-bottom: 2vh;
    height: auto;
    min-height: 100vh;
  }
  .body {
    height: auto;
    padding-left: 0;
    font-size: 1.75em;
  }
}
